<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/splitting@1.0.7/dist/splitting.min.js"></script>
        <title>sambok's portfolio</title>
        <link
            href="/templates/assets/images/정삼복 로고.png"
            rel="shortcut icon"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/templates/public/global.css" />
        <link rel="stylesheet" href="/templates/public/main.css" />
        <link rel="stylesheet" href="/templates/public/animations.css" />
    </head>
    <body>
        <div class="wrap">
            <div class="nav">
                <h2 id="title">삼복의 포트폴리오👨‍💻</h2>
                <div class="navbt">
                    <ul class="navbt">
                        <li id="am"><a href="#">About Me!</a></li>
                        <li id="st"><a href="#">Stack!</a></li>
                        <li id="at"><a href="#">Acitivites!</a></li>
                        <li id="pt"><a href="#">Projects!</a></li>
                        <li id="ct"><a href="#">Contact!</a></li>
                    </ul>
                </div>
            </div>
            <div class="1_cont">
                <h1 data-shadow="webs!">저를 소개합니다!</h1>
                <h2 class="name">정현서 혹은 정삼복</h2>
                <div class="cont_m">
                    <svg
                        class="mouse"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 76 130"
                        preserveAspectRatio="xMidYmid meet"
                    >
                        <g fill="none" fill-rule="evenodd">
                            <rect
                                width="70"
                                height="118"
                                x="1.5"
                                y="1.5"
                                stroke="#FFF"
                                stroke-width="3"
                                rx="36"
                            />
                            <circle
                                class="scroll"
                                cx="36.5"
                                cy="31.5"
                                r="4.5"
                                fill="#FFF"
                            />
                        </g>
                    </svg>
                    <ul class="lang_bar">
                        <a href="#" class="lang">가</a>
                        <a href="#" class="lang">A</a>
                        <a href="#" class="lang">あ</a>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script src="/templates/scripts/main.js"></script>
</html>
