@keyframes breathe-css {
    0% {
        font-variation-settings: "wght" 100, "wdth" 85;
        font-size: 10vw;
    }
    60% {
        font-variation-settings: "wght" 700, "wdth" 100;
        font-size: 11vw;
    }

    100% {
        font-variation-settings: "wght" 100, "wdth" 85;
        font-size: 10vw;
    }
}
