.wrap {
    width: 100%;
    height: 405rem;
    background: #2d2727;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* 가로 방향에 대해 양쪽 끝에 고정되도록 설정합니다. */
    height: 5.9375rem;
    background: #413543;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}

#title {
    color: #eee;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 25%;
    height: 3.625rem;
    flex-shrink: 0;
    justify-content: space-between;
}

.navbt {
    display: flex; /* Flex container로 설정 */
}

.navbt li {
    margin-right: 1.5rem; /* 각 항목 사이의 간격을 조정 (필요에 따라 조정 가능) */
}

#ct,
#pt,
#at,
#st,
#am {
    color: #eee;
    text-align: right;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    color: #eee;
    text-align: center;
    font-family: Inter;
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18rem;
    animation: shake 6s infinite;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    8%,
    12%,
    25%,
    38%,
    62%,
    75%,
    88% {
        transform: translateX(-10px);
    }
    4%,
    16%,
    33%,
    46%,
    54%,
    71%,
    83% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0);
    }
}

.name {
    color: #eee;
    text-align: right;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 15rem;
    animation: shake 6s infinite;
}

.cont_m {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.lang_bar {
    margin-top: 12rem;
    margin-left: 32.4rem;
}

.lang {
    color: #eee;
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2rem;
}

.mouse {
    max-width: 2.5rem;
    width: 100%;
    height: auto;
    margin-top: 10rem;
    animation: bounce 2s infinite;
    opacity: 0.8;
    margin-left: 50%;
}

.mouse .scroll {
    animation: scrollBounce 1.5s infinite ease-in-out;
    transform-origin: center;
}

@keyframes scrollBounce {
    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(60px);
        opacity: 1;
    }
    50.1%,
    99.9% {
        opacity: 0;
    }
}

.mouse .scroll::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 12px;
    background-color: #fff;
    border-radius: 6px;
    animation: scrollShadow 1.5s infinite ease-in-out;
    opacity: 0.2;
}

@keyframes scrollShadow {
    0%,
    100% {
        transform: translateY(0);
        opacity: 0.2;
    }
    50% {
        transform: translateY(60px);
        opacity: 0.1;
    }
    50.1%,
    99.9% {
        opacity: 0;
    }
}
